@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --storify-text-color-main: #000000;
    --storify-green: #a0db8e;
    --storify-light-green:#b4eeb4;
    --storify-gray: #666666;
    --storify-light-gray:#dddddd;
  }

  .unblock-me--main-container {
    height:100vh;
  }
